h1{
    color: #FFBE26;
}

h4{
    color: #266AC2;
}

.subtitulo{
    color: #FF2724;
}

#intro-button{
    background-color: #FF2724;
    justify-content: center !important;
    border-radius: 25px;
}

.btn.btn-lily {
    background: linear-gradient(40deg, rgba(38,106,194), rgba(255,39,36,.7));
  }

h2{
    color: #266AC2;
    margin-top: 4rem;
    margin-bottom: 2rem;
}
html {
    scroll-behavior: smooth;
  }
#folclor, #deportes{
    background-color: #F0F2EF;
}

p{
    color: black;
    font-size: 1.5rem;
}

.card-body{
    background-color: #F0F2EF;
}

.card-text{
    color: black !important;
}
#intro, .card{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.sport-text{
    font-size: 1rem;
}
.sport-title{
    color: black;
}
#deportes, #alegria{
    margin-bottom: 7rem;
}
.alegria-image{
    margin-top: 1rem;
}